@import 'reset.css';
@import 'sameshape.css';

/*Background*/
body{
	background-image: url("../images/school.png");
}

/*Everything container*/
.container{
	width: 600px;
	margin: 40px auto;
}
/*Sizings*/
h1,h2,h3{text-align: center;}
h1{
	font-size: 26pt;
}
h2{
	font-size: 22pt;
}
h3{
	font-size: 18pt;
}
/*===================
	log in
===========================*/
.infoBlock{
	width: 500px;
	margin: 0 auto;
	padding: 10px;
	background-color: rgba(56,192,196,.8);
	/*background-color: #38c0c4;*/
}
.infoBlock .buttons{
	width: 260px;
	margin: 0 auto;
}
.required{
	color: red;
}